<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="netHPCEntities" connectionString="metadata=res://*/netHPCEntities.csdl|res://*/netHPCEntities.ssdl|res://*/netHPCEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=netHPC;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
